/* Responsive Media Queries */
@media only screen and (max-width: 1024px) {
    .home-text h1 {
        font-size: 3em;
    }
    .home-text span {
        font-size: 1.3em;
    }

    .text-container {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .skills {
        padding: 100px 50px;
    }

    .bars-box {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav a {
        font-size: 1.2em;
    }

    .social-links {
        gap: 20px;
    }

    .home {
        padding: 40px;
    }

    .home-text h1 {
        font-size: 2.5em;
    }

    .text-container {
        font-size: 1em;
    }

    .bars-box {
        width: 100%;
    }

    .project-card {
        flex-direction: column;
    }

    .skills-section h3 {
        font-size: 1em;
    }

    .view-details-btn {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 480px) {
    .home-text h1 {
        font-size: 2em;
    }

    .home-text span {
        font-size: 1.1em;
    }

    .navbar-nav a {
        font-size: 1em;
    }

    .skills {
        padding: 60px 30px;
    }

    .bars-box {
        width: 100%;
    }

    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        flex-direction: column;
    }
}
